.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s ease;
  }
  body.dark-mode {
    background-color: #1a1919;
    color: #999;
  }
  .btn1{
      padding: 8px 16px;
      background: #fff;
      outline: none;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      border: none;
      font-size: 18px;
  }
  .btn2{
    padding: 8px 16px;
    background: rgb(70, 69, 69);
    outline: none;
    border: none;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn3{
    width: 30px;
    height: 20px;
}
.form{
    display: flex;
    flex-direction:column;
    max-width: 500px;
    height: 500px;
    background: #999;
    margin: auto;
}
.details{
    display: flex;
    flex-direction:column;
    width: 80%;
    margin: 40px auto;
}
input{
    margin: 8px 0;
    height: 2rem;
    padding: 2px;
    outline: none;
}
.btn{
    background: rgb(10, 10, 10);
    height: 2.4rem;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #efefee;
    border: none;

}